--swiftversion 6.2
--indent 4
--tabwidth 4
--maxwidth none
--linebreaks lf
--semicolons never
--commas inline
--trailingcommas always
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes preserve
--self remove
--importgrouping alpha
--ifdef no-indent
--trimwhitespace always
--allman false
--empty void
--ranges no-space
--patternlet hoist
--decimalgrouping none
--binarygrouping none
--octalgrouping none
--hexgrouping none
--fractiongrouping disabled
--exponentgrouping disabled

--enable blankLinesAroundMark
--enable redundantSelf
--enable sortImports
--enable trailingCommas
--enable wrapMultilineStatementBraces

--disable andOperator
--disable extensionAccessControl
--disable fileHeader
--disable hoistPatternLet
--disable preferKeyPath
--disable strongOutlets

--exclude Artifacts
--exclude Resources
--exclude plans
--exclude workflows
--exclude Beadly.xcodeproj
